body {
  background-color: #dddddd ;
  padding: 20px; 
  font-family: Georgia ;
  color: #333333 ;
}

div.module {
  width: 560px ;
  background: white ;
  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: 20px ;
  padding: 20px ;
  padding-left: 40px ;
  padding-right: 40px ;
  border-radius: 9px ;
  -moz-border-radius: 9px ;
  -o-box-shadow: 0 5px 5px #333333 ;
  -webkit-box-shadow: 0 5px 5px #333333 ;
  -moz-box-shadow: 0 5px 5px #333333 ;
  box-shadow: 0 5px 5px #333333 ;
}

li {
  margin-top: 0.3em;
  margin-bottom: 1em; 
}

a {
  text-decoration: none ;
}


div#header {
  width: 530px;
  height: 100px ;
}

div#name-area {
  float: left; 
}

span#name {
  font-size: 40px;
  font-weight: bold;
}

span#title {
  font-size: 14px;
}

span#honor {
  font-size: 14px; 
}

div#contact-info {
  float: right ;
}


div.picture {
  width: 370px;
  background: black ;
  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: 20px ;
  padding: 20px ;
  padding-left: 40px ;
  padding-right: 40px ;
  border-radius: 9px ;
  -moz-border-radius: 9px ;
  -o-box-shadow: 0 5px 5px #333333 ;
  -webkit-box-shadow: 0 5px 5px #333333 ;
  -moz-box-shadow: 0 5px 5px #333333 ;
  box-shadow: 0 5px 5px #333333 ;  
}

.self-picture-container .sb-inner {
 background-color: black ;
}

.self-picture {
 padding-top: 10px ;
 width: 400px ;
 height: 460px ;
}

ul.jump-bar {
 margin-top: 0px;
 margin-bottom: 0px;
 margin-left: 0px;;
 margin-right: 0px;;
 padding-left: 0px ;
 padding-right: 0px ;
}


ul.jump-bar li {
 display: inline ;
 font-weight: bold ;
}


